API_CLIENT_KEY='YOUR AUTHORIZE.NET API CLIENT KEY'
API_LOGIN_ID='YOUR AUTHORIZE.NET API LOGIN ID'
API_TRANSACTION_KEY='YOUR AUTHORIZE.NET API TRANSACTION KEY'
HTTPS=true
SSL_CRT_FILE='/absolute/path/to/ssl/cert.crt'
SSL_KEY_FILE='/absolute/path/to/ssl/key.key
IFRAME_COMMUNICATOR_URL='https://localhost:3000/iFrameCommunicator.html'
CLIENT_PORT=3000
SERVER_PORT=3001
